node_modules/

/.yarn/*
!/.yarn/releases
!/.yarn/plugins
!/.yarn/sdks
!/.yarn/patches

# Next.js Output
.next

# Turbo
.turbo

# Ignore artifacts:
build
coverage
dist
packages/ui/lib
storybook-static

.editorconfig

# Python
.venv

__pycache__

# env
.env.local*
.env.production*
.env.development*

# Local Wesjet folder
.wesjet

# Local Netlify folder
.netlify

# Local Vercel folder
.vercel
