.expo
node_modules

package-lock.json

CODE_OF_CONDUCT.md

docker*

dist*
build

.next
.vercel
.turbo

.wesjet

packages/ui/lib
packages/ui/src/components/Icon
packages/ui/types
storybook-static