.icon-react-one {
  position: absolute;
  width: 20px;
  z-index: 10;
  right: 13%;
  top: 8%;
}
.icon-electron {
  position: absolute;
  width: 16px;
  z-index: 0;
  left: 17%;
  top: 25%;
}
.icon-vue {
  position: absolute;
  width: 16px;
  z-index: 10;
  right: 33%;
  top: 3%;
}
.icon-angular {
  position: absolute;
  width: 12px;
  z-index: 10;
  right: 21%;
  top: 28%;
}
.icon-flutter {
  position: absolute;
  width: 16px;
  z-index: 10;
  left: 5%;
  top: 15%;
}
.icon-nuxt {
  position: absolute;
  width: 12px;
  z-index: 10;
  right: 5%;
  top: 28%;
}
.icon-redwood {
  position: absolute;
  width: 14px;
  z-index: 10;
  /* background-color: yellow; */
  left: 15%;
  top: 5%;
}
