@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .overflow-hidden {
    mask-image: radial-gradient(white, black);
  }
  .link-text {
    @apply text-blue-600 hover:text-blue-700;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'custom-font';
  src: url(/fonts/custom/CustomFont-Book.woff2) format('woff2'),
    url(/fonts/custom/CustomFont-Book.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'custom-font';
  src: url(/fonts/custom/CustomFont-Medium.woff2) format('woff2'),
    url(/fonts/custom/CustomFont-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
}

h1,
h2 {
  line-height: 1.2 !important;
}

@media only screen and (max-width: 960px) {
  h1 {
    font-size: 2.2rem !important;
  }
  h2 {
    font-size: 2rem !important;
  }
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: 2rem !important;
  }
  h2 {
    font-size: 1.8rem !important;
  }
}

@media only screen and (max-width: 520px) {
  h1 {
    font-size: 1.8rem !important;
  }
  h2 {
    font-size: 1.6rem !important;
  }
}

.section-masked {
  overflow: hidden;
}

.section-bg-masked {
  position: absolute;
  width: 100%;
  height: 100%;
  /* overflow: visible; */
}

.section-bg {
  @apply bg-gray-50 dark:bg-gray-800;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform-origin: 100% 0;
  transform: skewY(-2deg);
  overflow: hidden;
}

.section-container {
  position: relative;
}

table {
  margin-top: 1em;
  border-collapse: collapse;
}

table .thead-plans th {
  @apply py-4;
  position: sticky;
  border-collapse: separate;
  top: 0;
  z-index: 5;
}

.pricing-table_product-row {
  /* @apply py-4; */
  position: sticky;
  border-collapse: separate;
  top: 0;
  z-index: 5;
}

/* Footer */

.d-flex {
  display: flex !important;
}

.list-style-none {
  list-style: none !important;
}

.f6 {
  font-size: var(--h6-size, 12px) !important;
}
