@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .overflow-hidden {
    mask-image: radial-gradient(white, black);
  }
  .link-text {
    @apply text-blue-600 hover:text-blue-700;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 antialiased;
}

@font-face {
  font-family: 'custom-font';
  src: url(/fonts/custom/CustomFont-Book.woff2) format('woff2'),
    url(/fonts/custom/CustomFont-Book.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'custom-font';
  src: url(/fonts/custom/CustomFont-Medium.woff2) format('woff2'),
    url(/fonts/custom/CustomFont-Medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

.h1:not(.prose *):not(.overwrite),
.h2:not(.prose *):not(.overwrite),
.h3:not(.prose *):not(.overwrite),
.h4:not(.prose *):not(.overwrite),
.h5:not(.prose *):not(.overwrite),
.h6:not(.prose *):not(.overwrite) {
  color: var(--colors-scale12);
  margin-bottom: 16px;
}

.h1:not(.prose *):not(.overwrite) {
  @apply text-4xl;
}

.h2:not(.prose *):not(.overwrite) {
  @apply text-3xl;
}

.h3:not(.prose *):not(.overwrite) {
  @apply text-2xl;
}

.h4:not(.prose *):not(.overwrite) {
  @apply text-xl;
}

.h5:not(.prose *):not(.overwrite) {
  @apply text-xl;
}

.h1:not(.prose *):not(.overwrite),
.h2:not(.prose *):not(.overwrite) {
  line-height: 1.2 !important;
}

@media only screen and (max-width: 960px) {
  .h1:not(.prose *):not(.overwrite) {
    font-size: 2.2rem !important;
  }
  .h2:not(.prose *):not(.overwrite) {
    font-size: 2rem !important;
  }
}

@media only screen and (max-width: 720px) {
  .h1:not(.prose *):not(.overwrite) {
    font-size: 2rem !important;
  }
  .h2:not(.prose *):not(.overwrite) {
    font-size: 1.8rem !important;
  }
}

@media only screen and (max-width: 520px) {
  .h1:not(.prose *):not(.overwrite) {
    font-size: 1.8rem !important;
  }
  .h2:not(.prose *):not(.overwrite) {
    font-size: 1.6rem !important;
  }
}

.p:not(.prose *):not(.overwrite) {
  color: var(--colors-scale11);
  margin-bottom: 16px;
}

.small:not(.prose *):not(.overwrite) {
  @apply text-xs;
  color: var(--colors-scale11);
}

.section-masked {
  overflow: hidden;
}

.section-bg-masked {
  position: absolute;
  width: 100%;
  height: 100%;
  /* overflow: visible; */
}

.section-bg {
  @apply bg-gray-50 dark:bg-gray-800;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform-origin: 100% 0;
  transform: skewY(-2deg);
  overflow: hidden;
}

.section-container {
  position: relative;
}

table {
  margin-top: 1em;
  border-collapse: collapse;
}

table .thead-plans th {
  @apply py-4;
  position: sticky;
  border-collapse: separate;
  top: 0;
  z-index: 5;
}

.pricing-table_product-row {
  /* @apply py-4; */
  position: sticky;
  border-collapse: separate;
  top: 0;
  z-index: 5;
}

/* Footer */

.d-flex {
  display: flex !important;
}

.list-style-none {
  list-style: none !important;
}

.f6 {
  font-size: var(--h6-size, 12px) !important;
}

:root {
  --width-listbox: 320px;
  --colors-amber1: #fefdfb;
  --colors-amber2: #fff9ed;
  --colors-amber3: #fff4d5;
  --colors-amber4: #ffecbc;
  --colors-amber5: #ffe3a2;
  --colors-amber6: #ffd386;
  --colors-amber7: #f3ba63;
  --colors-amber8: #ee9d2b;
  --colors-amber9: #ffb224;
  --colors-amber10: #ffa01c;
  --colors-amber11: #ad5700;
  --colors-amber12: #4e2009;
  --colors-amberA1: rgba(192, 130, 5, 0.016);
  --colors-amberA2: rgba(255, 171, 2, 0.071);
  --colors-amberA3: rgba(255, 187, 1, 0.165);
  --colors-amberA4: rgba(255, 183, 0, 0.263);
  --colors-amberA5: rgba(255, 179, 0, 0.365);
  --colors-amberA6: rgba(255, 162, 1, 0.475);
  --colors-amberA7: rgba(236, 141, 0, 0.612);
  --colors-amberA8: rgba(234, 137, 0, 0.832);
  --colors-amberA9: rgba(255, 166, 0, 0.859);
  --colors-amberA10: rgba(255, 149, 0, 0.891);
  --colors-amberA11: rgba(171, 83, 0, 0.98);
  --colors-amberA12: rgba(72, 24, 0, 0.965);
  --colors-blackA1: rgba(0, 0, 0, 0.012);
  --colors-blackA2: rgba(0, 0, 0, 0.027);
  --colors-blackA3: rgba(0, 0, 0, 0.047);
  --colors-blackA4: rgba(0, 0, 0, 0.071);
  --colors-blackA5: rgba(0, 0, 0, 0.09);
  --colors-blackA6: rgba(0, 0, 0, 0.114);
  --colors-blackA7: rgba(0, 0, 0, 0.141);
  --colors-blackA8: rgba(0, 0, 0, 0.22);
  --colors-blackA9: rgba(0, 0, 0, 0.439);
  --colors-blackA10: rgba(0, 0, 0, 0.478);
  --colors-blackA11: rgba(0, 0, 0, 0.565);
  --colors-blackA12: rgba(0, 0, 0, 0.91);
  --colors-blue1: #fbfdff;
  --colors-blue2: #f5faff;
  --colors-blue3: #edf6ff;
  --colors-blue4: #e1f0ff;
  --colors-blue5: #cee7fe;
  --colors-blue6: #b7d9f8;
  --colors-blue7: #96c7f2;
  --colors-blue8: #5eb0ef;
  --colors-blue9: #0091ff;
  --colors-blue10: #0081f1;
  --colors-blue11: #006adc;
  --colors-blue12: #00254d;
  --colors-blueA1: rgba(5, 130, 255, 0.016);
  --colors-blueA2: rgba(5, 130, 255, 0.04);
  --colors-blueA3: rgba(2, 128, 255, 0.071);
  --colors-blueA4: rgba(1, 128, 255, 0.118);
  --colors-blueA5: rgba(1, 128, 239, 0.189);
  --colors-blueA6: rgba(1, 119, 230, 0.283);
  --colors-blueA7: rgba(0, 119, 223, 0.412);
  --colors-blueA8: rgba(0, 130, 230, 0.632);
  --colors-blueA9: rgba(0, 145, 255, 0.98);
  --colors-blueA10: rgba(0, 128, 241, 0.98);
  --colors-blueA11: rgba(0, 102, 219, 0.98);
  --colors-blueA12: rgba(0, 33, 73, 0.98);
  --colors-bronze1: #fdfcfc;
  --colors-bronze2: #fdf8f6;
  --colors-bronze3: #f8f1ee;
  --colors-bronze4: #f2e8e4;
  --colors-bronze5: #eaddd7;
  --colors-bronze6: #e0cec7;
  --colors-bronze7: #d2bab0;
  --colors-bronze8: #bfa094;
  --colors-bronze9: #a18072;
  --colors-bronze10: #977669;
  --colors-bronze11: #846358;
  --colors-bronze12: #43302b;
  --colors-bronzeA1: rgba(88, 5, 5, 0.012);
  --colors-bronzeA2: rgba(199, 60, 5, 0.036);
  --colors-bronzeA3: rgba(151, 46, 1, 0.067);
  --colors-bronzeA4: rgba(132, 38, 0, 0.106);
  --colors-bronzeA5: rgba(121, 39, 0, 0.157);
  --colors-bronzeA6: rgba(114, 33, 0, 0.22);
  --colors-bronzeA7: rgba(110, 33, 0, 0.31);
  --colors-bronzeA8: rgba(103, 29, 0, 0.42);
  --colors-bronzeA9: rgba(85, 26, 0, 0.553);
  --colors-bronzeA10: rgba(78, 22, 0, 0.589);
  --colors-bronzeA11: rgba(67, 17, 0, 0.655);
  --colors-bronzeA12: rgba(29, 6, 0, 0.832);
  --colors-brown1: #fefdfc;
  --colors-brown2: #fcf9f6;
  --colors-brown3: #f8f1ea;
  --colors-brown4: #f4e9dd;
  --colors-brown5: #efddcc;
  --colors-brown6: #e8cdb5;
  --colors-brown7: #ddb896;
  --colors-brown8: #d09e72;
  --colors-brown9: #ad7f58;
  --colors-brown10: #a07653;
  --colors-brown11: #886349;
  --colors-brown12: #3f2c22;
  --colors-brownA1: rgba(171, 88, 5, 0.012);
  --colors-brownA2: rgba(171, 88, 5, 0.036);
  --colors-brownA3: rgba(171, 86, 2, 0.083);
  --colors-brownA4: rgba(173, 90, 1, 0.134);
  --colors-brownA5: rgba(175, 85, 0, 0.2);
  --colors-brownA6: rgba(176, 82, 1, 0.291);
  --colors-brownA7: rgba(172, 83, 0, 0.412);
  --colors-brownA8: rgba(170, 79, 0, 0.553);
  --colors-brownA9: rgba(130, 61, 0, 0.655);
  --colors-brownA10: rgba(114, 51, 0, 0.675);
  --colors-brownA11: rgba(88, 37, 0, 0.714);
  --colors-brownA12: rgba(34, 12, 0, 0.867);
  --colors-crimson1: #fffcfd;
  --colors-crimson2: #fff7fb;
  --colors-crimson3: #feeff6;
  --colors-crimson4: #fce5f0;
  --colors-crimson5: #f9d8e7;
  --colors-crimson6: #f4c6db;
  --colors-crimson7: #edadc8;
  --colors-crimson8: #e58fb1;
  --colors-crimson9: #e93d82;
  --colors-crimson10: #e03177;
  --colors-crimson11: #d31e66;
  --colors-crimson12: #3d0d1d;
  --colors-crimsonA1: rgba(255, 5, 88, 0.012);
  --colors-crimsonA2: rgba(255, 5, 130, 0.032);
  --colors-crimsonA3: rgba(239, 1, 112, 0.063);
  --colors-crimsonA4: rgba(226, 0, 109, 0.102);
  --colors-crimsonA5: rgba(216, 0, 97, 0.153);
  --colors-crimsonA6: rgba(206, 1, 93, 0.224);
  --colors-crimsonA7: rgba(199, 0, 83, 0.322);
  --colors-crimsonA8: rgba(196, 0, 79, 0.44);
  --colors-crimsonA9: rgba(226, 0, 90, 0.761);
  --colors-crimsonA10: rgba(217, 0, 87, 0.808);
  --colors-crimsonA11: rgba(205, 0, 82, 0.883);
  --colors-crimsonA12: rgba(51, 0, 17, 0.95);
  --colors-cyan1: #fafdfe;
  --colors-cyan2: #f2fcfd;
  --colors-cyan3: #e7f9fb;
  --colors-cyan4: #d8f3f6;
  --colors-cyan5: #c4eaef;
  --colors-cyan6: #aadee6;
  --colors-cyan7: #84cdda;
  --colors-cyan8: #3db9cf;
  --colors-cyan9: #05a2c2;
  --colors-cyan10: #0894b3;
  --colors-cyan11: #0c7792;
  --colors-cyan12: #04313c;
  --colors-cyanA1: rgba(5, 155, 205, 0.02);
  --colors-cyanA2: rgba(0, 198, 216, 0.051);
  --colors-cyanA3: rgba(2, 192, 213, 0.095);
  --colors-cyanA4: rgba(0, 177, 196, 0.153);
  --colors-cyanA5: rgba(1, 164, 186, 0.232);
  --colors-cyanA6: rgba(1, 156, 180, 0.334);
  --colors-cyanA7: rgba(0, 151, 178, 0.483);
  --colors-cyanA8: rgba(0, 163, 192, 0.761);
  --colors-cyanA9: rgba(0, 161, 193, 0.98);
  --colors-cyanA10: rgba(0, 144, 176, 0.969);
  --colors-cyanA11: rgba(0, 113, 141, 0.953);
  --colors-cyanA12: rgba(0, 45, 56, 0.98);
  --colors-gold1: #fdfdfc;
  --colors-gold2: #fbf9f2;
  --colors-gold3: #f5f2e9;
  --colors-gold4: #eeeadd;
  --colors-gold5: #e5dfd0;
  --colors-gold6: #dad1bd;
  --colors-gold7: #cbbda4;
  --colors-gold8: #b8a383;
  --colors-gold9: #978365;
  --colors-gold10: #8c795d;
  --colors-gold11: #776750;
  --colors-gold12: #3b352b;
  --colors-goldA1: rgba(88, 88, 5, 0.012);
  --colors-goldA2: rgba(176, 138, 0, 0.051);
  --colors-goldA3: rgba(140, 106, 2, 0.087);
  --colors-goldA4: rgba(128, 99, 1, 0.134);
  --colors-goldA5: rgba(114, 82, 1, 0.185);
  --colors-goldA6: rgba(112, 77, 0, 0.259);
  --colors-goldA7: rgba(110, 69, 0, 0.357);
  --colors-goldA8: rgba(109, 66, 0, 0.487);
  --colors-goldA9: rgba(83, 50, 0, 0.604);
  --colors-goldA10: rgba(74, 45, 0, 0.636);
  --colors-goldA11: rgba(57, 33, 0, 0.687);
  --colors-goldA12: rgba(19, 12, 0, 0.832);
  --colors-grass1: #fbfefb;
  --colors-grass2: #f3fcf3;
  --colors-grass3: #ebf9eb;
  --colors-grass4: #dff3df;
  --colors-grass5: #ceebcf;
  --colors-grass6: #b7dfba;
  --colors-grass7: #97cf9c;
  --colors-grass8: #65ba75;
  --colors-grass9: #46a758;
  --colors-grass10: #3d9a50;
  --colors-grass11: #297c3b;
  --colors-grass12: #1b311e;
  --colors-grassA1: rgba(5, 192, 5, 0.016);
  --colors-grassA2: rgba(5, 192, 5, 0.048);
  --colors-grassA3: rgba(2, 179, 2, 0.079);
  --colors-grassA4: rgba(1, 160, 1, 0.126);
  --colors-grassA5: rgba(1, 151, 6, 0.193);
  --colors-grassA6: rgba(1, 142, 12, 0.283);
  --colors-grassA7: rgba(0, 138, 12, 0.408);
  --colors-grassA8: rgba(0, 141, 26, 0.604);
  --colors-grassA9: rgba(0, 134, 25, 0.726);
  --colors-grassA10: rgba(0, 122, 25, 0.761);
  --colors-grassA11: rgba(0, 99, 22, 0.84);
  --colors-grassA12: rgba(0, 25, 4, 0.895);
  --colors-gray1: #fcfcfc;
  --colors-gray2: #f8f8f8;
  --colors-gray3: #f3f3f3;
  --colors-gray4: #ededed;
  --colors-gray5: #e8e8e8;
  --colors-gray6: #e2e2e2;
  --colors-gray7: #dbdbdb;
  --colors-gray8: #c7c7c7;
  --colors-gray9: #8f8f8f;
  --colors-gray10: #858585;
  --colors-gray11: #6f6f6f;
  --colors-gray12: #171717;
  --colors-grayA1: rgba(0, 0, 0, 0.012);
  --colors-grayA2: rgba(0, 0, 0, 0.027);
  --colors-grayA3: rgba(0, 0, 0, 0.047);
  --colors-grayA4: rgba(0, 0, 0, 0.071);
  --colors-grayA5: rgba(0, 0, 0, 0.09);
  --colors-grayA6: rgba(0, 0, 0, 0.114);
  --colors-grayA7: rgba(0, 0, 0, 0.141);
  --colors-grayA8: rgba(0, 0, 0, 0.22);
  --colors-grayA9: rgba(0, 0, 0, 0.439);
  --colors-grayA10: rgba(0, 0, 0, 0.478);
  --colors-grayA11: rgba(0, 0, 0, 0.565);
  --colors-grayA12: rgba(0, 0, 0, 0.91);
  --colors-green1: #fbfefc;
  --colors-green2: #f2fcf5;
  --colors-green3: #e9f9ee;
  --colors-green4: #ddf3e4;
  --colors-green5: #ccebd7;
  --colors-green6: #b4dfc4;
  --colors-green7: #92ceac;
  --colors-green8: #5bb98c;
  --colors-green9: #30a46c;
  --colors-green10: #299764;
  --colors-green11: #18794e;
  --colors-green12: #153226;
  --colors-greenA1: rgba(5, 192, 67, 0.016);
  --colors-greenA2: rgba(0, 196, 59, 0.051);
  --colors-greenA3: rgba(2, 186, 60, 0.087);
  --colors-greenA4: rgba(1, 166, 53, 0.134);
  --colors-greenA5: rgba(0, 155, 54, 0.2);
  --colors-greenA6: rgba(1, 147, 54, 0.295);
  --colors-greenA7: rgba(0, 140, 61, 0.428);
  --colors-greenA8: rgba(0, 147, 76, 0.644);
  --colors-greenA9: rgba(0, 143, 74, 0.812);
  --colors-greenA10: rgba(0, 131, 70, 0.84);
  --colors-greenA11: rgba(0, 107, 59, 0.906);
  --colors-greenA12: rgba(0, 32, 18, 0.918);
  --colors-indigo1: #fdfdfe;
  --colors-indigo2: #f8faff;
  --colors-indigo3: #f0f4ff;
  --colors-indigo4: #e6edfe;
  --colors-indigo5: #d9e2fc;
  --colors-indigo6: #c6d4f9;
  --colors-indigo7: #aec0f5;
  --colors-indigo8: #8da4ef;
  --colors-indigo9: #3e63dd;
  --colors-indigo10: #3a5ccc;
  --colors-indigo11: #3451b2;
  --colors-indigo12: #101d46;
  --colors-indigoA1: rgba(5, 5, 130, 0.008);
  --colors-indigoA2: rgba(5, 76, 255, 0.028);
  --colors-indigoA3: rgba(1, 68, 255, 0.059);
  --colors-indigoA4: rgba(2, 71, 245, 0.099);
  --colors-indigoA5: rgba(2, 60, 235, 0.15);
  --colors-indigoA6: rgba(1, 61, 228, 0.224);
  --colors-indigoA7: rgba(0, 56, 224, 0.318);
  --colors-indigoA8: rgba(1, 52, 219, 0.448);
  --colors-indigoA9: rgba(0, 49, 210, 0.757);
  --colors-indigoA10: rgba(0, 44, 189, 0.773);
  --colors-indigoA11: rgba(0, 37, 158, 0.797);
  --colors-indigoA12: rgba(0, 14, 58, 0.938);
  --colors-lime1: #fcfdfa;
  --colors-lime2: #f7fcf0;
  --colors-lime3: #eefadc;
  --colors-lime4: #e4f7c7;
  --colors-lime5: #d7f2b0;
  --colors-lime6: #c9e894;
  --colors-lime7: #b1d16a;
  --colors-lime8: #94ba2c;
  --colors-lime9: #99d52a;
  --colors-lime10: #93c926;
  --colors-lime11: #5d770d;
  --colors-lime12: #263209;
  --colors-limeA1: rgba(105, 155, 5, 0.02);
  --colors-limeA2: rgba(119, 204, 1, 0.059);
  --colors-limeA3: rgba(132, 219, 1, 0.138);
  --colors-limeA4: rgba(131, 219, 0, 0.22);
  --colors-limeA5: rgba(124, 213, 0, 0.31);
  --colors-limeA6: rgba(127, 200, 0, 0.42);
  --colors-limeA7: rgba(120, 176, 0, 0.585);
  --colors-limeA8: rgba(126, 172, 0, 0.828);
  --colors-limeA9: rgba(133, 205, 0, 0.836);
  --colors-limeA10: rgba(128, 192, 0, 0.851);
  --colors-limeA11: rgba(84, 112, 0, 0.95);
  --colors-limeA12: rgba(30, 43, 0, 0.965);
  --colors-mauve1: #fdfcfd;
  --colors-mauve2: #f9f8f9;
  --colors-mauve3: #f4f2f4;
  --colors-mauve4: #eeedef;
  --colors-mauve5: #e9e8ea;
  --colors-mauve6: #e4e2e4;
  --colors-mauve7: #dcdbdd;
  --colors-mauve8: #c8c7cb;
  --colors-mauve9: #908e96;
  --colors-mauve10: #86848d;
  --colors-mauve11: #6f6e77;
  --colors-mauve12: #1a1523;
  --colors-mauveA1: rgba(88, 5, 88, 0.012);
  --colors-mauveA2: rgba(41, 5, 41, 0.028);
  --colors-mauveA3: rgba(39, 0, 39, 0.051);
  --colors-mauveA4: rgba(16, 1, 30, 0.071);
  --colors-mauveA5: rgba(13, 2, 24, 0.091);
  --colors-mauveA6: rgba(18, 1, 18, 0.114);
  --colors-mauveA7: rgba(8, 1, 15, 0.142);
  --colors-mauveA8: rgba(5, 0, 18, 0.22);
  --colors-mauveA9: rgba(5, 0, 18, 0.444);
  --colors-mauveA10: rgba(4, 0, 19, 0.483);
  --colors-mauveA11: rgba(2, 0, 16, 0.569);
  --colors-mauveA12: rgba(5, 0, 15, 0.918);
  --colors-mint1: #f9fefd;
  --colors-mint2: #effefa;
  --colors-mint3: #e1fbf4;
  --colors-mint4: #d2f7ed;
  --colors-mint5: #c0efe3;
  --colors-mint6: #a5e4d4;
  --colors-mint7: #7dd4c0;
  --colors-mint8: #40c4aa;
  --colors-mint9: #70e1c8;
  --colors-mint10: #69d9c1;
  --colors-mint11: #147d6f;
  --colors-mint12: #09342e;
  --colors-mintA1: rgba(5, 213, 172, 0.024);
  --colors-mintA2: rgba(1, 239, 176, 0.063);
  --colors-mintA3: rgba(1, 221, 162, 0.118);
  --colors-mintA4: rgba(1, 210, 154, 0.177);
  --colors-mintA5: rgba(1, 190, 143, 0.248);
  --colors-mintA6: rgba(0, 179, 134, 0.353);
  --colors-mintA7: rgba(0, 171, 131, 0.51);
  --colors-mintA8: rgba(0, 176, 141, 0.75);
  --colors-mintA9: rgba(0, 201, 158, 0.561);
  --colors-mintA10: rgba(0, 190, 149, 0.589);
  --colors-mintA11: rgba(0, 114, 99, 0.922);
  --colors-mintA12: rgba(0, 45, 39, 0.965);
  --colors-olive1: #fcfdfc;
  --colors-olive2: #f8faf8;
  --colors-olive3: #f2f4f2;
  --colors-olive4: #ecefec;
  --colors-olive5: #e6e9e6;
  --colors-olive6: #e0e4e0;
  --colors-olive7: #d8dcd8;
  --colors-olive8: #c3c8c2;
  --colors-olive9: #8b918a;
  --colors-olive10: #818780;
  --colors-olive11: #6b716a;
  --colors-olive12: #141e12;
  --colors-oliveA1: rgba(5, 88, 5, 0.012);
  --colors-oliveA2: rgba(5, 77, 5, 0.028);
  --colors-oliveA3: rgba(0, 39, 0, 0.051);
  --colors-oliveA4: rgba(2, 42, 2, 0.075);
  --colors-oliveA5: rgba(2, 33, 2, 0.099);
  --colors-oliveA6: rgba(1, 34, 1, 0.122);
  --colors-oliveA7: rgba(0, 26, 0, 0.153);
  --colors-oliveA8: rgba(5, 26, 1, 0.24);
  --colors-oliveA9: rgba(2, 15, 0, 0.459);
  --colors-oliveA10: rgba(3, 14, 0, 0.499);
  --colors-oliveA11: rgba(2, 12, 0, 0.585);
  --colors-oliveA12: rgba(2, 13, 0, 0.93);
  --colors-orange1: #fefcfb;
  --colors-orange2: #fef8f4;
  --colors-orange3: #fff1e7;
  --colors-orange4: #ffe8d7;
  --colors-orange5: #ffdcc3;
  --colors-orange6: #ffcca7;
  --colors-orange7: #ffb381;
  --colors-orange8: #fa934e;
  --colors-orange9: #f76808;
  --colors-orange10: #ed5f00;
  --colors-orange11: #bd4b00;
  --colors-orange12: #451e11;
  --colors-orangeA1: rgba(192, 67, 5, 0.016);
  --colors-orangeA2: rgba(232, 96, 5, 0.044);
  --colors-orangeA3: rgba(255, 108, 3, 0.095);
  --colors-orangeA4: rgba(255, 111, 0, 0.157);
  --colors-orangeA5: rgba(255, 107, 1, 0.236);
  --colors-orangeA6: rgba(255, 107, 1, 0.346);
  --colors-orangeA7: rgba(255, 102, 1, 0.495);
  --colors-orangeA8: rgba(248, 99, 0, 0.695);
  --colors-orangeA9: rgba(247, 99, 0, 0.969);
  --colors-orangeA10: rgba(237, 91, 0, 0.98);
  --colors-orangeA11: rgba(188, 72, 0, 0.98);
  --colors-orangeA12: rgba(56, 14, 0, 0.934);
  --colors-pink1: #fffcfe;
  --colors-pink2: #fff7fc;
  --colors-pink3: #feeef8;
  --colors-pink4: #fce5f3;
  --colors-pink5: #f9d8ec;
  --colors-pink6: #f3c6e2;
  --colors-pink7: #ecadd4;
  --colors-pink8: #e38ec3;
  --colors-pink9: #d6409f;
  --colors-pink10: #d23197;
  --colors-pink11: #cd1d8d;
  --colors-pink12: #3b0a2a;
  --colors-pinkA1: rgba(255, 5, 172, 0.012);
  --colors-pinkA2: rgba(255, 5, 159, 0.032);
  --colors-pinkA3: rgba(240, 1, 148, 0.067);
  --colors-pinkA4: rgba(226, 0, 139, 0.102);
  --colors-pinkA5: rgba(216, 0, 129, 0.153);
  --colors-pinkA6: rgba(201, 1, 124, 0.224);
  --colors-pinkA7: rgba(196, 0, 121, 0.322);
  --colors-pinkA8: rgba(192, 0, 118, 0.444);
  --colors-pinkA9: rgba(200, 0, 127, 0.75);
  --colors-pinkA10: rgba(199, 0, 126, 0.808);
  --colors-pinkA11: rgba(199, 0, 126, 0.887);
  --colors-pinkA12: rgba(51, 0, 33, 0.961);
  --colors-plum1: #fefcff;
  --colors-plum2: #fff8ff;
  --colors-plum3: #fceffc;
  --colors-plum4: #f9e5f9;
  --colors-plum5: #f3d9f4;
  --colors-plum6: #ebc8ed;
  --colors-plum7: #dfafe3;
  --colors-plum8: #cf91d8;
  --colors-plum9: #ab4aba;
  --colors-plum10: #a43cb4;
  --colors-plum11: #9c2bad;
  --colors-plum12: #340c3b;
  --colors-plumA1: rgba(172, 5, 255, 0.012);
  --colors-plumA2: rgba(255, 5, 255, 0.028);
  --colors-plumA3: rgba(208, 1, 208, 0.063);
  --colors-plumA4: rgba(196, 0, 196, 0.102);
  --colors-plumA5: rgba(175, 2, 181, 0.15);
  --colors-plumA6: rgba(163, 0, 172, 0.216);
  --colors-plumA7: rgba(152, 0, 166, 0.314);
  --colors-plumA8: rgba(143, 0, 165, 0.432);
  --colors-plumA9: rgba(137, 0, 158, 0.71);
  --colors-plumA10: rgba(136, 0, 157, 0.765);
  --colors-plumA11: rgba(136, 0, 156, 0.832);
  --colors-plumA12: rgba(42, 0, 49, 0.953);
  --colors-purple1: #fefcfe;
  --colors-purple2: #fdfaff;
  --colors-purple3: #f9f1fe;
  --colors-purple4: #f3e7fc;
  --colors-purple5: #eddbf9;
  --colors-purple6: #e3ccf4;
  --colors-purple7: #d3b4ed;
  --colors-purple8: #be93e4;
  --colors-purple9: #8e4ec6;
  --colors-purple10: #8445bc;
  --colors-purple11: #793aaf;
  --colors-purple12: #2b0e44;
  --colors-purpleA1: rgba(171, 5, 171, 0.012);
  --colors-purpleA2: rgba(155, 5, 255, 0.02);
  --colors-purpleA3: rgba(146, 0, 237, 0.055);
  --colors-purpleA4: rgba(128, 2, 224, 0.095);
  --colors-purpleA5: rgba(128, 1, 213, 0.142);
  --colors-purpleA6: rgba(117, 0, 200, 0.2);
  --colors-purpleA7: rgba(107, 1, 194, 0.295);
  --colors-purpleA8: rgba(102, 0, 191, 0.424);
  --colors-purpleA9: rgba(92, 0, 173, 0.695);
  --colors-purpleA10: rgba(87, 0, 163, 0.73);
  --colors-purpleA11: rgba(81, 0, 151, 0.773);
  --colors-purpleA12: rgba(31, 0, 57, 0.946);
  --colors-red1: #fffcfc;
  --colors-red2: #fff8f8;
  --colors-red3: #ffefef;
  --colors-red4: #ffe5e5;
  --colors-red5: #fdd8d8;
  --colors-red6: #f9c6c6;
  --colors-red7: #f3aeaf;
  --colors-red8: #eb9091;
  --colors-red9: #e5484d;
  --colors-red10: #dc3d43;
  --colors-red11: #cd2b31;
  --colors-red12: #381316;
  --colors-redA1: rgba(255, 5, 5, 0.012);
  --colors-redA2: rgba(255, 5, 5, 0.032);
  --colors-redA3: rgba(255, 1, 1, 0.063);
  --colors-redA4: rgba(255, 0, 0, 0.102);
  --colors-redA5: rgba(242, 0, 0, 0.153);
  --colors-redA6: rgba(228, 1, 1, 0.224);
  --colors-redA7: rgba(217, 0, 4, 0.318);
  --colors-redA8: rgba(209, 0, 4, 0.436);
  --colors-redA9: rgba(219, 0, 7, 0.718);
  --colors-redA10: rgba(209, 0, 7, 0.761);
  --colors-redA11: rgba(195, 0, 7, 0.832);
  --colors-redA12: rgba(40, 0, 3, 0.926);
  --colors-sage1: #fbfdfc;
  --colors-sage2: #f8faf9;
  --colors-sage3: #f1f4f3;
  --colors-sage4: #ecefed;
  --colors-sage5: #e6e9e8;
  --colors-sage6: #dfe4e2;
  --colors-sage7: #d7dcda;
  --colors-sage8: #c2c9c6;
  --colors-sage9: #8a918e;
  --colors-sage10: #808784;
  --colors-sage11: #6a716e;
  --colors-sage12: #111c18;
  --colors-sageA1: rgba(5, 130, 68, 0.016);
  --colors-sageA2: rgba(5, 77, 41, 0.028);
  --colors-sageA3: rgba(0, 55, 37, 0.055);
  --colors-sageA4: rgba(2, 42, 15, 0.075);
  --colors-sageA5: rgba(2, 33, 23, 0.099);
  --colors-sageA6: rgba(1, 41, 25, 0.126);
  --colors-sageA7: rgba(0, 32, 19, 0.157);
  --colors-sageA8: rgba(1, 30, 17, 0.24);
  --colors-sageA9: rgba(0, 15, 9, 0.459);
  --colors-sageA10: rgba(0, 14, 8, 0.499);
  --colors-sageA11: rgba(0, 12, 7, 0.585);
  --colors-sageA12: rgba(0, 12, 8, 0.934);
  --colors-sand1: #fdfdfc;
  --colors-sand2: #f9f9f8;
  --colors-sand3: #f3f3f2;
  --colors-sand4: #eeeeec;
  --colors-sand5: #e9e9e6;
  --colors-sand6: #e3e3e0;
  --colors-sand7: #dbdbd7;
  --colors-sand8: #c8c7c1;
  --colors-sand9: #90908c;
  --colors-sand10: #868682;
  --colors-sand11: #706f6c;
  --colors-sand12: #1b1b18;
  --colors-sandA1: rgba(88, 88, 5, 0.012);
  --colors-sandA2: rgba(41, 41, 5, 0.028);
  --colors-sandA3: rgba(20, 20, 0, 0.051);
  --colors-sandA4: rgba(28, 28, 2, 0.075);
  --colors-sandA5: rgba(33, 33, 2, 0.099);
  --colors-sandA6: rgba(26, 26, 1, 0.122);
  --colors-sandA7: rgba(26, 26, 0, 0.157);
  --colors-sandA8: rgba(30, 25, 1, 0.244);
  --colors-sandA9: rgba(9, 9, 0, 0.451);
  --colors-sandA10: rgba(9, 9, 0, 0.491);
  --colors-sandA11: rgba(7, 6, 0, 0.577);
  --colors-sandA12: rgba(4, 4, 0, 0.906);
  --colors-sky1: #f9feff;
  --colors-sky2: #f1fcff;
  --colors-sky3: #e4f9ff;
  --colors-sky4: #d5f4fd;
  --colors-sky5: #c1ecf9;
  --colors-sky6: #a4dff1;
  --colors-sky7: #79cfea;
  --colors-sky8: #2ebde5;
  --colors-sky9: #68ddfd;
  --colors-sky10: #5fd4f4;
  --colors-sky11: #0078a1;
  --colors-sky12: #003242;
  --colors-skyA1: rgba(5, 213, 255, 0.024);
  --colors-skyA2: rgba(1, 200, 255, 0.055);
  --colors-skyA3: rgba(1, 200, 255, 0.106);
  --colors-skyA4: rgba(0, 186, 243, 0.165);
  --colors-skyA5: rgba(1, 177, 231, 0.244);
  --colors-skyA6: rgba(0, 165, 216, 0.357);
  --colors-skyA7: rgba(0, 165, 215, 0.526);
  --colors-skyA8: rgba(0, 175, 223, 0.82);
  --colors-skyA9: rgba(0, 197, 252, 0.593);
  --colors-skyA10: rgba(0, 186, 237, 0.628);
  --colors-skyA11: rgba(0, 117, 159, 0.98);
  --colors-skyA12: rgba(0, 46, 62, 0.98);
  --colors-slate1: #fbfcfd;
  --colors-slate2: #f8f9fa;
  --colors-slate3: #f1f3f5;
  --colors-slate4: #eceef0;
  --colors-slate5: #e6e8eb;
  --colors-slate6: #dfe3e6;
  --colors-slate7: #d7dbdf;
  --colors-slate8: #c1c8cd;
  --colors-slate9: #889096;
  --colors-slate10: #7e868c;
  --colors-slate11: #687076;
  --colors-slate12: #11181c;
  --colors-slateA1: rgba(5, 68, 130, 0.016);
  --colors-slateA2: rgba(5, 41, 77, 0.028);
  --colors-slateA3: rgba(0, 37, 73, 0.055);
  --colors-slateA4: rgba(2, 28, 55, 0.075);
  --colors-slateA5: rgba(2, 23, 53, 0.099);
  --colors-slateA6: rgba(1, 33, 57, 0.126);
  --colors-slateA7: rgba(0, 26, 51, 0.157);
  --colors-slateA8: rgba(1, 30, 50, 0.244);
  --colors-slateA9: rgba(0, 17, 30, 0.467);
  --colors-slateA10: rgba(0, 16, 27, 0.506);
  --colors-slateA11: rgba(0, 14, 24, 0.593);
  --colors-slateA12: rgba(0, 8, 12, 0.934);
  --colors-teal1: #fafefd;
  --colors-teal2: #f1fcfa;
  --colors-teal3: #e7f9f5;
  --colors-teal4: #d9f3ee;
  --colors-teal5: #c7ebe5;
  --colors-teal6: #afdfd7;
  --colors-teal7: #8dcec3;
  --colors-teal8: #53b9ab;
  --colors-teal9: #12a594;
  --colors-teal10: #0e9888;
  --colors-teal11: #067a6f;
  --colors-teal12: #10302a;
  --colors-tealA1: rgba(5, 205, 155, 0.02);
  --colors-tealA2: rgba(1, 200, 164, 0.055);
  --colors-tealA3: rgba(2, 192, 151, 0.095);
  --colors-tealA4: rgba(2, 175, 140, 0.15);
  --colors-tealA5: rgba(0, 164, 137, 0.22);
  --colors-tealA6: rgba(0, 153, 128, 0.314);
  --colors-tealA7: rgba(1, 146, 122, 0.448);
  --colors-tealA8: rgba(0, 151, 131, 0.675);
  --colors-tealA9: rgba(0, 158, 140, 0.93);
  --colors-tealA10: rgba(0, 146, 129, 0.946);
  --colors-tealA11: rgba(0, 119, 107, 0.977);
  --colors-tealA12: rgba(0, 34, 29, 0.938);
  --colors-tomato1: #fffcfc;
  --colors-tomato2: #fff8f7;
  --colors-tomato3: #fff0ee;
  --colors-tomato4: #ffe6e2;
  --colors-tomato5: #fdd8d3;
  --colors-tomato6: #fac7be;
  --colors-tomato7: #f3b0a2;
  --colors-tomato8: #ea9280;
  --colors-tomato9: #e54d2e;
  --colors-tomato10: #db4324;
  --colors-tomato11: #ca3214;
  --colors-tomato12: #341711;
  --colors-tomatoA1: rgba(255, 5, 5, 0.012);
  --colors-tomatoA2: rgba(255, 38, 5, 0.032);
  --colors-tomatoA3: rgba(255, 31, 1, 0.067);
  --colors-tomatoA4: rgba(255, 34, 1, 0.114);
  --colors-tomatoA5: rgba(244, 29, 1, 0.173);
  --colors-tomatoA6: rgba(236, 35, 0, 0.255);
  --colors-tomatoA7: rgba(222, 37, 0, 0.365);
  --colors-tomatoA8: rgba(213, 36, 1, 0.499);
  --colors-tomatoA9: rgba(223, 37, 0, 0.82);
  --colors-tomatoA10: rgba(213, 36, 0, 0.859);
  --colors-tomatoA11: rgba(198, 33, 0, 0.922);
  --colors-tomatoA12: rgba(38, 6, 0, 0.934);
  --colors-violet1: #fdfcfe;
  --colors-violet2: #fbfaff;
  --colors-violet3: #f5f2ff;
  --colors-violet4: #ede9fe;
  --colors-violet5: #e4defc;
  --colors-violet6: #d7cff9;
  --colors-violet7: #c4b8f3;
  --colors-violet8: #aa99ec;
  --colors-violet9: #6e56cf;
  --colors-violet10: #644fc1;
  --colors-violet11: #5746af;
  --colors-violet12: #20134b;
  --colors-violetA1: rgba(88, 5, 171, 0.012);
  --colors-violetA2: rgba(55, 5, 255, 0.02);
  --colors-violetA3: rgba(60, 0, 255, 0.051);
  --colors-violetA4: rgba(46, 2, 244, 0.087);
  --colors-violetA5: rgba(47, 1, 232, 0.13);
  --colors-violetA6: rgba(42, 1, 223, 0.189);
  --colors-violetA7: rgba(43, 1, 212, 0.279);
  --colors-violetA8: rgba(42, 0, 208, 0.4);
  --colors-violetA9: rgba(37, 0, 182, 0.663);
  --colors-violetA10: rgba(31, 0, 165, 0.691);
  --colors-violetA11: rgba(24, 0, 145, 0.726);
  --colors-violetA12: rgba(14, 0, 61, 0.926);
  --colors-whiteA1: hsla(0, 0%, 100%, 0);
  --colors-whiteA2: hsla(0, 0%, 100%, 0.013);
  --colors-whiteA3: hsla(0, 0%, 100%, 0.034);
  --colors-whiteA4: hsla(0, 0%, 100%, 0.056);
  --colors-whiteA5: hsla(0, 0%, 100%, 0.086);
  --colors-whiteA6: hsla(0, 0%, 100%, 0.124);
  --colors-whiteA7: hsla(0, 0%, 100%, 0.176);
  --colors-whiteA8: hsla(0, 0%, 100%, 0.249);
  --colors-whiteA9: hsla(0, 0%, 100%, 0.386);
  --colors-whiteA10: hsla(0, 0%, 100%, 0.446);
  --colors-whiteA11: hsla(0, 0%, 100%, 0.592);
  --colors-whiteA12: hsla(0, 0%, 100%, 0.923);
  --colors-yellow1: #fdfdf9;
  --colors-yellow2: #fffce8;
  --colors-yellow3: #fffbd1;
  --colors-yellow4: #fff8bb;
  --colors-yellow5: #fef2a4;
  --colors-yellow6: #f9e68c;
  --colors-yellow7: #efd36c;
  --colors-yellow8: #ebbc00;
  --colors-yellow9: #f5d90a;
  --colors-yellow10: #f7ce00;
  --colors-yellow11: #946800;
  --colors-yellow12: #35290f;
  --colors-yellowA1: rgba(171, 171, 5, 0.024);
  --colors-yellowA2: rgba(255, 221, 2, 0.091);
  --colors-yellowA3: rgba(255, 234, 1, 0.181);
  --colors-yellowA4: rgba(255, 230, 1, 0.267);
  --colors-yellowA5: rgba(252, 219, 0, 0.357);
  --colors-yellowA6: rgba(242, 201, 0, 0.451);
  --colors-yellowA7: rgba(227, 178, 0, 0.577);
  --colors-yellowA8: rgba(235, 188, 0, 0.98);
  --colors-yellowA9: rgba(245, 216, 0, 0.961);
  --colors-yellowA10: rgba(247, 206, 0, 0.98);
  --colors-yellowA11: rgba(146, 102, 0, 0.98);
  --colors-yellowA12: rgba(41, 28, 0, 0.942);
  --colors-brand1: #fafefd;
  --colors-brand2: #f1fef7;
  --colors-brand3: #e9fcf2;
  --colors-brand4: #ddf8ea;
  --colors-brand5: #cef2df;
  --colors-brand6: #bde5d0;
  --colors-brand7: #8ed2af;
  --colors-brand8: #34b27b;
  --colors-brand9: #3fcf8e;
  --colors-brand10: #40bf86;
  --colors-brand11: #2b825b;
  --colors-brand12: #122b20;
  --colors-fixed-brand1: #fafefd;
  --colors-fixed-brand2: #f1fef7;
  --colors-fixed-brand3: #e9fcf2;
  --colors-fixed-brand4: #ddf8ea;
  --colors-fixed-brand5: #cef2df;
  --colors-fixed-brand6: #bde5d0;
  --colors-fixed-brand7: #8ed2af;
  --colors-fixed-brand8: #34b27b;
  --colors-fixed-brand9: #3fcf8e;
  --colors-fixed-brand10: #40bf86;
  --colors-fixed-brand11: #2b825b;
  --colors-fixed-brand12: #122b20;
  --colors-fixed-scale1: var(--colors-slate1);
  --colors-fixed-scale2: var(--colors-slate2);
  --colors-fixed-scale3: var(--colors-slate3);
  --colors-fixed-scale4: var(--colors-slate4);
  --colors-fixed-scale5: var(--colors-slate5);
  --colors-fixed-scale6: var(--colors-slate6);
  --colors-fixed-scale7: var(--colors-slate7);
  --colors-fixed-scale8: var(--colors-slate8);
  --colors-fixed-scale9: var(--colors-slate9);
  --colors-fixed-scale10: var(--colors-slate10);
  --colors-fixed-scale11: var(--colors-slate11);
  --colors-fixed-scale12: var(--colors-slate12);
  --colors-fixed-scaleA1: var(--colors-slateA1);
  --colors-fixed-scaleA2: var(--colors-slateA2);
  --colors-fixed-scaleA3: var(--colors-slateA3);
  --colors-fixed-scaleA4: var(--colors-slateA4);
  --colors-fixed-scaleA5: var(--colors-slateA5);
  --colors-fixed-scaleA6: var(--colors-slateA6);
  --colors-fixed-scaleA7: var(--colors-slateA7);
  --colors-fixed-scaleA8: var(--colors-slateA8);
  --colors-fixed-scaleA9: var(--colors-slateA9);
  --colors-fixed-scaleA10: var(--colors-slateA10);
  --colors-fixed-scaleA11: var(--colors-slateA11);
  --colors-fixed-scaleA12: var(--colors-slateA12);
  --colors-brand-hiContrast: var(--colors-brand-9);
  --colors-brand-loContrast: var(--colors-brand-4);
  --colors-scale1: var(--colors-slate1);
  --colors-scale2: var(--colors-slate2);
  --colors-scale3: var(--colors-slate3);
  --colors-scale4: var(--colors-slate4);
  --colors-scale5: var(--colors-slate5);
  --colors-scale6: var(--colors-slate6);
  --colors-scale7: var(--colors-slate7);
  --colors-scale8: var(--colors-slate8);
  --colors-scale9: var(--colors-slate9);
  --colors-scale10: var(--colors-slate10);
  --colors-scale11: var(--colors-slate11);
  --colors-scale12: var(--colors-slate12);
  --colors-scaleA1: var(--colors-slateA1);
  --colors-scaleA2: var(--colors-slateA2);
  --colors-scaleA3: var(--colors-slateA3);
  --colors-scaleA4: var(--colors-slateA4);
  --colors-scaleA5: var(--colors-slateA5);
  --colors-scaleA6: var(--colors-slateA6);
  --colors-scaleA7: var(--colors-slateA7);
  --colors-scaleA8: var(--colors-slateA8);
  --colors-scaleA9: var(--colors-slateA9);
  --colors-scaleA10: var(--colors-slateA10);
  --colors-scaleA11: var(--colors-slateA11);
  --colors-scaleA12: var(--colors-slateA12);
}
.dark {
  --colors-amber1: #1f1300;
  --colors-amber2: #271700;
  --colors-amber3: #341c00;
  --colors-amber4: #3f2200;
  --colors-amber5: #4a2900;
  --colors-amber6: #573300;
  --colors-amber7: #693f05;
  --colors-amber8: #824e00;
  --colors-amber9: #ffb224;
  --colors-amber10: #ffcb47;
  --colors-amber11: #f1a10d;
  --colors-amber12: #fef3dd;
  --colors-amberA1: transparent;
  --colors-amberA2: rgba(253, 131, 0, 0.036);
  --colors-amberA3: rgba(254, 115, 0, 0.094);
  --colors-amberA4: rgba(255, 123, 0, 0.143);
  --colors-amberA5: rgba(255, 132, 0, 0.192);
  --colors-amberA6: rgba(255, 149, 0, 0.25);
  --colors-amberA7: rgba(255, 151, 15, 0.331);
  --colors-amberA8: rgba(255, 153, 0, 0.442);
  --colors-amberA9: rgba(255, 182, 37, 0.98);
  --colors-amberA10: rgba(255, 206, 72, 0.98);
  --colors-amberA11: rgba(255, 171, 14, 0.938);
  --colors-amberA12: rgba(255, 248, 225, 0.98);
  --colors-blue1: #0f1720;
  --colors-blue2: #0f1b2d;
  --colors-blue3: #10243e;
  --colors-blue4: #102a4c;
  --colors-blue5: #0f3058;
  --colors-blue6: #0d3868;
  --colors-blue7: #0a4481;
  --colors-blue8: #0954a5;
  --colors-blue9: #0091ff;
  --colors-blue10: #369eff;
  --colors-blue11: #52a9ff;
  --colors-blue12: #eaf6ff;
  --colors-blueA1: transparent;
  --colors-blueA2: rgba(15, 90, 252, 0.059);
  --colors-blueA3: rgba(22, 119, 254, 0.135);
  --colors-blueA4: rgba(20, 118, 254, 0.198);
  --colors-blueA5: rgba(15, 123, 254, 0.252);
  --colors-blueA6: rgba(9, 124, 255, 0.323);
  --colors-blueA7: rgba(4, 125, 255, 0.435);
  --colors-blueA8: rgba(5, 126, 255, 0.597);
  --colors-blueA9: rgba(0, 149, 255, 0.98);
  --colors-blueA10: rgba(55, 161, 255, 0.98);
  --colors-blueA11: rgba(83, 172, 255, 0.98);
  --colors-blueA12: rgba(239, 251, 255, 0.98);
  --colors-bronze1: #191514;
  --colors-bronze2: #1f1917;
  --colors-bronze3: #2a211f;
  --colors-bronze4: #332824;
  --colors-bronze5: #3b2e29;
  --colors-bronze6: #453530;
  --colors-bronze7: #57433c;
  --colors-bronze8: #74594e;
  --colors-bronze9: #a18072;
  --colors-bronze10: #b08c7d;
  --colors-bronze11: #cba393;
  --colors-bronze12: #f9ede7;
  --colors-bronzeA1: transparent;
  --colors-bronzeA2: hsla(20, 88%, 74%, 0.027);
  --colors-bronzeA3: hsla(10, 99%, 83%, 0.074);
  --colors-bronzeA4: hsla(18, 96%, 81%, 0.114);
  --colors-bronzeA5: hsla(18, 99%, 82%, 0.148);
  --colors-bronzeA6: hsla(15, 98%, 82%, 0.192);
  --colors-bronzeA7: hsla(16, 99%, 83%, 0.27);
  --colors-bronzeA8: hsla(18, 99%, 83%, 0.396);
  --colors-bronzeA9: hsla(18, 99%, 85%, 0.592);
  --colors-bronzeA10: rgba(255, 202, 180, 0.657);
  --colors-bronzeA11: rgba(255, 204, 184, 0.774);
  --colors-bronzeA12: rgba(255, 243, 237, 0.974);
  --colors-brown1: #1a1513;
  --colors-brown2: #221813;
  --colors-brown3: #2e201a;
  --colors-brown4: #36261e;
  --colors-brown5: #3e2d22;
  --colors-brown6: #493528;
  --colors-brown7: #5c4332;
  --colors-brown8: #775940;
  --colors-brown9: #ad7f58;
  --colors-brown10: #bd8b60;
  --colors-brown11: #dba16e;
  --colors-brown12: #faf0e5;
  --colors-brownA1: transparent;
  --colors-brownA2: rgba(255, 105, 19, 0.035);
  --colors-brownA3: rgba(253, 145, 99, 0.088);
  --colors-brownA4: hsla(21, 98%, 71%, 0.123);
  --colors-brownA5: hsla(25, 98%, 72%, 0.158);
  --colors-brownA6: hsla(25, 99%, 74%, 0.206);
  --colors-brownA7: hsla(25, 99%, 75%, 0.289);
  --colors-brownA8: hsla(28, 99%, 75%, 0.407);
  --colors-brownA9: rgba(255, 186, 126, 0.642);
  --colors-brownA10: rgba(255, 187, 127, 0.712);
  --colors-brownA11: rgba(255, 187, 127, 0.843);
  --colors-brownA12: hsla(32, 98%, 96%, 0.979);
  --colors-crimson1: #1d1418;
  --colors-crimson2: #27141c;
  --colors-crimson3: #3c1827;
  --colors-crimson4: #481a2d;
  --colors-crimson5: #541b33;
  --colors-crimson6: #641d3b;
  --colors-crimson7: #801d45;
  --colors-crimson8: #ae1955;
  --colors-crimson9: #e93d82;
  --colors-crimson10: #f04f88;
  --colors-crimson11: #f76190;
  --colors-crimson12: #feecf4;
  --colors-crimsonA1: transparent;
  --colors-crimsonA2: rgba(251, 20, 113, 0.045);
  --colors-crimsonA3: rgba(254, 49, 134, 0.138);
  --colors-crimsonA4: rgba(254, 51, 132, 0.191);
  --colors-crimsonA5: rgba(254, 49, 134, 0.244);
  --colors-crimsonA6: rgba(254, 49, 134, 0.315);
  --colors-crimsonA7: rgba(254, 40, 126, 0.439);
  --colors-crimsonA8: rgba(255, 28, 119, 0.642);
  --colors-crimsonA9: rgba(255, 65, 141, 0.903);
  --colors-crimsonA10: rgba(255, 83, 143, 0.934);
  --colors-crimsonA11: rgba(255, 100, 149, 0.965);
  --colors-crimsonA12: rgba(255, 240, 248, 0.98);
  --colors-cyan1: #07191d;
  --colors-cyan2: #061e24;
  --colors-cyan3: #072830;
  --colors-cyan4: #07303b;
  --colors-cyan5: #073844;
  --colors-cyan6: #064150;
  --colors-cyan7: #045063;
  --colors-cyan8: #00647d;
  --colors-cyan9: #05a2c2;
  --colors-cyan10: #00b1cc;
  --colors-cyan11: #00c2d7;
  --colors-cyan12: #e1f8fa;
  --colors-cyanA1: transparent;
  --colors-cyanA2: rgba(0, 187, 255, 0.031);
  --colors-cyanA3: rgba(7, 203, 252, 0.085);
  --colors-cyanA4: rgba(7, 197, 255, 0.133);
  --colors-cyanA5: rgba(7, 205, 254, 0.173);
  --colors-cyanA6: rgba(2, 200, 255, 0.226);
  --colors-cyanA7: rgba(0, 204, 255, 0.31);
  --colors-cyanA8: rgba(0, 200, 255, 0.425);
  --colors-cyanA9: rgba(4, 213, 255, 0.731);
  --colors-cyanA10: rgba(0, 221, 255, 0.775);
  --colors-cyanA11: rgba(0, 229, 254, 0.824);
  --colors-cyanA12: rgba(230, 253, 255, 0.978);
  --colors-gold1: #171613;
  --colors-gold2: #1c1a15;
  --colors-gold3: #26231c;
  --colors-gold4: #2e2a21;
  --colors-gold5: #353026;
  --colors-gold6: #3e382c;
  --colors-gold7: #504737;
  --colors-gold8: #6b5d48;
  --colors-gold9: #978365;
  --colors-gold10: #a59071;
  --colors-gold11: #bfa888;
  --colors-gold12: #f7f4e7;
  --colors-goldA1: transparent;
  --colors-goldA2: hsla(40, 94%, 71%, 0.022);
  --colors-goldA3: hsla(40, 97%, 81%, 0.065);
  --colors-goldA4: hsla(40, 96%, 81%, 0.1);
  --colors-goldA5: hsla(38, 97%, 82%, 0.13);
  --colors-goldA6: hsla(39, 97%, 83%, 0.169);
  --colors-goldA7: hsla(37, 99%, 82%, 0.246);
  --colors-goldA8: hsla(35, 99%, 82%, 0.363);
  --colors-goldA9: rgba(255, 220, 167, 0.552);
  --colors-goldA10: hsla(35, 99%, 84%, 0.613);
  --colors-goldA11: hsla(35, 99%, 85%, 0.725);
  --colors-goldA12: hsla(49, 99%, 97%, 0.966);
  --colors-grass1: #0d1912;
  --colors-grass2: #0f1e13;
  --colors-grass3: #132819;
  --colors-grass4: #16301d;
  --colors-grass5: #193921;
  --colors-grass6: #1d4427;
  --colors-grass7: #245530;
  --colors-grass8: #2f6e3b;
  --colors-grass9: #46a758;
  --colors-grass10: #55b467;
  --colors-grass11: #63c174;
  --colors-grass12: #e5fbeb;
  --colors-grassA1: transparent;
  --colors-grassA2: rgba(104, 252, 63, 0.022);
  --colors-grassA3: rgba(104, 252, 123, 0.066);
  --colors-grassA4: rgba(103, 255, 128, 0.1);
  --colors-grassA5: rgba(99, 254, 125, 0.14);
  --colors-grassA6: rgba(99, 255, 130, 0.187);
  --colors-grassA7: rgba(101, 255, 132, 0.261);
  --colors-grassA8: rgba(105, 255, 130, 0.37);
  --colors-grassA9: rgba(105, 255, 130, 0.618);
  --colors-grassA10: rgba(120, 255, 145, 0.674);
  --colors-grassA11: rgba(131, 255, 151, 0.731);
  --colors-grassA12: rgba(234, 255, 240, 0.98);
  --colors-gray1: #161616;
  --colors-gray2: #1c1c1c;
  --colors-gray3: #232323;
  --colors-gray4: #282828;
  --colors-gray5: #2e2e2e;
  --colors-gray6: #343434;
  --colors-gray7: #3e3e3e;
  --colors-gray8: #505050;
  --colors-gray9: #707070;
  --colors-gray10: #7e7e7e;
  --colors-gray11: #a0a0a0;
  --colors-gray12: #ededed;
  --colors-grayA1: hsla(0, 0%, 100%, 0);
  --colors-grayA2: hsla(0, 0%, 100%, 0.026);
  --colors-grayA3: hsla(0, 0%, 100%, 0.056);
  --colors-grayA4: hsla(0, 0%, 100%, 0.077);
  --colors-grayA5: hsla(0, 0%, 100%, 0.103);
  --colors-grayA6: hsla(0, 0%, 100%, 0.129);
  --colors-grayA7: hsla(0, 0%, 100%, 0.172);
  --colors-grayA8: hsla(0, 0%, 100%, 0.249);
  --colors-grayA9: hsla(0, 0%, 100%, 0.386);
  --colors-grayA10: hsla(0, 0%, 100%, 0.446);
  --colors-grayA11: hsla(0, 0%, 100%, 0.592);
  --colors-grayA12: hsla(0, 0%, 100%, 0.923);
  --colors-green1: #0d1912;
  --colors-green2: #0c1f17;
  --colors-green3: #0f291e;
  --colors-green4: #113123;
  --colors-green5: #133929;
  --colors-green6: #164430;
  --colors-green7: #1b543a;
  --colors-green8: #236e4a;
  --colors-green9: #30a46c;
  --colors-green10: #3cb179;
  --colors-green11: #4cc38a;
  --colors-green12: #e5fbeb;
  --colors-greenA1: transparent;
  --colors-greenA2: rgba(0, 247, 202, 0.027);
  --colors-greenA3: rgba(42, 254, 190, 0.07);
  --colors-greenA4: rgba(51, 254, 179, 0.105);
  --colors-greenA5: rgba(56, 254, 181, 0.14);
  --colors-greenA6: rgba(61, 255, 177, 0.187);
  --colors-greenA7: rgba(67, 255, 173, 0.257);
  --colors-greenA8: rgba(73, 255, 170, 0.37);
  --colors-greenA9: rgba(71, 255, 166, 0.605);
  --colors-greenA10: rgba(84, 255, 175, 0.661);
  --colors-greenA11: rgba(98, 255, 179, 0.74);
  --colors-greenA12: rgba(234, 255, 240, 0.98);
  --colors-indigo1: #131620;
  --colors-indigo2: #15192d;
  --colors-indigo3: #192140;
  --colors-indigo4: #1c274f;
  --colors-indigo5: #1f2c5c;
  --colors-indigo6: #22346e;
  --colors-indigo7: #273e89;
  --colors-indigo8: #2f4eb2;
  --colors-indigo9: #3e63dd;
  --colors-indigo10: #5373e7;
  --colors-indigo11: #849dff;
  --colors-indigo12: #eef1fd;
  --colors-indigoA1: transparent;
  --colors-indigoA2: rgba(53, 73, 252, 0.059);
  --colors-indigoA3: rgba(60, 99, 254, 0.144);
  --colors-indigoA4: rgba(61, 103, 255, 0.211);
  --colors-indigoA5: rgba(63, 105, 254, 0.27);
  --colors-indigoA6: rgba(62, 107, 255, 0.35);
  --colors-indigoA7: rgba(61, 106, 255, 0.471);
  --colors-indigoA8: rgba(62, 107, 255, 0.655);
  --colors-indigoA9: rgba(69, 113, 255, 0.848);
  --colors-indigoA10: rgba(90, 126, 255, 0.893);
  --colors-indigoA11: rgba(134, 160, 255, 0.98);
  --colors-indigoA12: rgba(242, 245, 255, 0.98);
  --colors-lime1: #141807;
  --colors-lime2: #181d08;
  --colors-lime3: #1e260d;
  --colors-lime4: #252e0f;
  --colors-lime5: #2b3711;
  --colors-lime6: #344213;
  --colors-lime7: #415215;
  --colors-lime8: #536716;
  --colors-lime9: #99d52a;
  --colors-lime10: #c4f042;
  --colors-lime11: #87be22;
  --colors-lime12: #effbdd;
  --colors-limeA1: transparent;
  --colors-limeA2: rgba(202, 251, 53, 0.022);
  --colors-limeA3: hsla(88, 98%, 70%, 0.061);
  --colors-limeA4: rgba(196, 253, 91, 0.096);
  --colors-limeA5: rgba(190, 254, 81, 0.135);
  --colors-limeA6: rgba(197, 255, 73, 0.182);
  --colors-limeA7: rgba(200, 254, 63, 0.252);
  --colors-limeA8: rgba(204, 255, 51, 0.342);
  --colors-limeA9: rgba(183, 255, 50, 0.819);
  --colors-limeA10: rgba(209, 255, 70, 0.936);
  --colors-limeA11: rgba(181, 255, 44, 0.719);
  --colors-limeA12: rgba(244, 255, 225, 0.98);
  --colors-mauve1: #161618;
  --colors-mauve2: #1c1c1f;
  --colors-mauve3: #232326;
  --colors-mauve4: #28282c;
  --colors-mauve5: #2e2e32;
  --colors-mauve6: #34343a;
  --colors-mauve7: #3e3e44;
  --colors-mauve8: #504f57;
  --colors-mauve9: #706f78;
  --colors-mauve10: #7e7d86;
  --colors-mauve11: #a09fa6;
  --colors-mauve12: #ededef;
  --colors-mauveA1: transparent;
  --colors-mauveA2: rgba(215, 215, 250, 0.031);
  --colors-mauveA3: rgba(235, 235, 254, 0.061);
  --colors-mauveA4: rgba(229, 229, 254, 0.087);
  --colors-mauveA5: rgba(234, 234, 254, 0.113);
  --colors-mauveA6: rgba(225, 225, 254, 0.148);
  --colors-mauveA7: rgba(232, 232, 254, 0.191);
  --colors-mauveA8: rgba(234, 231, 255, 0.273);
  --colors-mauveA9: rgba(238, 236, 255, 0.416);
  --colors-mauveA10: rgba(240, 238, 255, 0.477);
  --colors-mauveA11: rgba(247, 245, 255, 0.615);
  --colors-mauveA12: rgba(253, 253, 255, 0.931);
  --colors-mint1: #081917;
  --colors-mint2: #05201e;
  --colors-mint3: #052926;
  --colors-mint4: #04312c;
  --colors-mint5: #033a34;
  --colors-mint6: #01453d;
  --colors-mint7: #00564a;
  --colors-mint8: #006d5b;
  --colors-mint9: #70e1c8;
  --colors-mint10: #95f3d9;
  --colors-mint11: #25d0ab;
  --colors-mint12: #e7fcf7;
  --colors-mintA1: transparent;
  --colors-mintA2: rgba(0, 251, 251, 0.031);
  --colors-mintA3: rgba(0, 253, 237, 0.07);
  --colors-mintA4: rgba(0, 253, 224, 0.105);
  --colors-mintA5: rgba(0, 254, 224, 0.144);
  --colors-mintA6: rgba(0, 254, 220, 0.192);
  --colors-mintA7: rgba(0, 254, 216, 0.266);
  --colors-mintA8: rgba(0, 254, 208, 0.366);
  --colors-mintA9: rgba(128, 255, 227, 0.87);
  --colors-mintA10: rgba(157, 255, 227, 0.948);
  --colors-mintA11: rgba(44, 255, 209, 0.796);
  --colors-mintA12: rgba(236, 255, 251, 0.98);
  --colors-olive1: #151715;
  --colors-olive2: #1a1d19;
  --colors-olive3: #20241f;
  --colors-olive4: #262925;
  --colors-olive5: #2b2f2a;
  --colors-olive6: #313530;
  --colors-olive7: #3b3f3a;
  --colors-olive8: #4c514b;
  --colors-olive9: #687366;
  --colors-olive10: #778175;
  --colors-olive11: #9aa299;
  --colors-olive12: #eceeec;
  --colors-oliveA1: transparent;
  --colors-oliveA2: hsla(91, 97%, 84%, 0.026);
  --colors-oliveA3: rgba(214, 251, 196, 0.057);
  --colors-oliveA4: hsla(92, 92%, 94%, 0.078);
  --colors-oliveA5: rgba(233, 254, 223, 0.104);
  --colors-oliveA6: rgba(236, 254, 229, 0.13);
  --colors-oliveA7: rgba(241, 254, 235, 0.173);
  --colors-oliveA8: rgba(241, 255, 237, 0.25);
  --colors-oliveA9: rgba(230, 255, 225, 0.397);
  --colors-oliveA10: rgba(235, 255, 231, 0.457);
  --colors-oliveA11: rgba(243, 255, 241, 0.6);
  --colors-oliveA12: rgba(253, 255, 253, 0.927);
  --colors-orange1: #1f1206;
  --colors-orange2: #2b1400;
  --colors-orange3: #391a03;
  --colors-orange4: #441f04;
  --colors-orange5: #4f2305;
  --colors-orange6: #5f2a06;
  --colors-orange7: #763205;
  --colors-orange8: #943e00;
  --colors-orange9: #f76808;
  --colors-orange10: #ff802b;
  --colors-orange11: #ff8b3e;
  --colors-orange12: #feeadd;
  --colors-orangeA1: transparent;
  --colors-orangeA2: rgba(253, 55, 0, 0.054);
  --colors-orangeA3: rgba(253, 84, 0, 0.117);
  --colors-orangeA4: rgba(254, 97, 0, 0.166);
  --colors-orangeA5: rgba(254, 98, 1, 0.215);
  --colors-orangeA6: rgba(255, 101, 6, 0.286);
  --colors-orangeA7: rgba(255, 100, 3, 0.389);
  --colors-orangeA8: rgba(254, 102, 0, 0.523);
  --colors-orangeA9: rgba(255, 107, 8, 0.965);
  --colors-orangeA10: rgba(255, 132, 44, 0.98);
  --colors-orangeA11: rgba(255, 140, 63, 0.98);
  --colors-orangeA12: rgba(255, 238, 225, 0.98);
  --colors-pink1: #1f121b;
  --colors-pink2: #271421;
  --colors-pink3: #3a182f;
  --colors-pink4: #451a37;
  --colors-pink5: #501b3f;
  --colors-pink6: #601d48;
  --colors-pink7: #7a1d5a;
  --colors-pink8: #a71873;
  --colors-pink9: #d6409f;
  --colors-pink10: #e34ba9;
  --colors-pink11: #f65cb6;
  --colors-pink12: #feebf7;
  --colors-pinkA1: transparent;
  --colors-pinkA2: rgba(253, 74, 193, 0.036);
  --colors-pinkA3: rgba(254, 68, 192, 0.121);
  --colors-pinkA4: rgba(255, 65, 191, 0.17);
  --colors-pinkA5: rgba(255, 59, 193, 0.219);
  --colors-pinkA6: rgba(254, 56, 182, 0.291);
  --colors-pinkA7: rgba(255, 45, 181, 0.407);
  --colors-pinkA8: rgba(255, 28, 172, 0.608);
  --colors-pinkA9: rgba(255, 74, 189, 0.817);
  --colors-pinkA10: rgba(255, 83, 189, 0.875);
  --colors-pinkA11: rgba(255, 95, 188, 0.96);
  --colors-pinkA12: rgba(255, 239, 251, 0.98);
  --colors-plum1: #1d131d;
  --colors-plum2: #251425;
  --colors-plum3: #341a34;
  --colors-plum4: #3e1d40;
  --colors-plum5: #48214b;
  --colors-plum6: #542658;
  --colors-plum7: #692d6f;
  --colors-plum8: #883894;
  --colors-plum9: #ab4aba;
  --colors-plum10: #bd54c6;
  --colors-plum11: #d864d8;
  --colors-plum12: #fbecfc;
  --colors-plumA1: transparent;
  --colors-plumA2: rgba(251, 47, 251, 0.036);
  --colors-plumA3: rgba(254, 88, 254, 0.102);
  --colors-plumA4: rgba(241, 83, 255, 0.155);
  --colors-plumA5: rgba(241, 88, 254, 0.204);
  --colors-plumA6: rgba(238, 92, 254, 0.262);
  --colors-plumA7: rgba(238, 90, 255, 0.363);
  --colors-plumA8: rgba(233, 89, 255, 0.527);
  --colors-plumA9: rgba(234, 98, 255, 0.695);
  --colors-plumA10: rgba(243, 106, 255, 0.748);
  --colors-plumA11: rgba(255, 117, 255, 0.828);
  --colors-plumA12: rgba(255, 240, 255, 0.98);
  --colors-purple1: #1b141d;
  --colors-purple2: #221527;
  --colors-purple3: #301a3a;
  --colors-purple4: #3a1e48;
  --colors-purple5: #432155;
  --colors-purple6: #4e2667;
  --colors-purple7: #5f2d84;
  --colors-purple8: #7938b2;
  --colors-purple9: #8e4ec6;
  --colors-purple10: #9d5bd2;
  --colors-purple11: #bf7af0;
  --colors-purple12: #f7ecfc;
  --colors-purpleA1: transparent;
  --colors-purpleA2: rgba(181, 42, 251, 0.045);
  --colors-purpleA3: rgba(188, 67, 254, 0.129);
  --colors-purpleA4: rgba(190, 72, 254, 0.191);
  --colors-purpleA5: rgba(188, 73, 255, 0.248);
  --colors-purpleA6: rgba(183, 75, 255, 0.328);
  --colors-purpleA7: rgba(177, 75, 255, 0.456);
  --colors-purpleA8: rgba(171, 75, 255, 0.66);
  --colors-purpleA9: rgba(181, 97, 255, 0.748);
  --colors-purpleA10: rgba(189, 109, 255, 0.801);
  --colors-purpleA11: rgba(203, 129, 255, 0.934);
  --colors-purpleA12: rgba(252, 240, 255, 0.98);
  --colors-red1: #1f1315;
  --colors-red2: #291415;
  --colors-red3: #3c181a;
  --colors-red4: #481a1d;
  --colors-red5: #541b1f;
  --colors-red6: #671e22;
  --colors-red7: #822025;
  --colors-red8: #aa2429;
  --colors-red9: #e5484d;
  --colors-red10: #f2555a;
  --colors-red11: #ff6369;
  --colors-red12: #feecee;
  --colors-redA1: transparent;
  --colors-redA2: rgba(253, 40, 21, 0.045);
  --colors-redA3: rgba(254, 58, 61, 0.13);
  --colors-redA4: rgba(254, 57, 64, 0.184);
  --colors-redA5: rgba(255, 53, 63, 0.237);
  --colors-redA6: rgba(255, 53, 60, 0.322);
  --colors-redA7: rgba(255, 48, 59, 0.442);
  --colors-redA8: rgba(255, 47, 54, 0.621);
  --colors-redA9: rgba(255, 79, 85, 0.884);
  --colors-redA10: rgba(255, 89, 95, 0.942);
  --colors-redA11: rgba(255, 100, 106, 0.98);
  --colors-redA12: rgba(255, 240, 242, 0.98);
  --colors-sage1: #141716;
  --colors-sage2: #191d1b;
  --colors-sage3: #1f2421;
  --colors-sage4: #252a27;
  --colors-sage5: #2a2f2c;
  --colors-sage6: #303633;
  --colors-sage7: #393f3c;
  --colors-sage8: #4a524e;
  --colors-sage9: #66736d;
  --colors-sage10: #75817b;
  --colors-sage11: #99a29e;
  --colors-sage12: #eceeed;
  --colors-sageA1: transparent;
  --colors-sageA2: rgba(212, 254, 214, 0.026);
  --colors-sageA3: rgba(213, 251, 215, 0.057);
  --colors-sageA4: rgba(227, 255, 229, 0.082);
  --colors-sageA5: rgba(232, 254, 234, 0.104);
  --colors-sageA6: rgba(229, 254, 238, 0.134);
  --colors-sageA7: rgba(234, 254, 242, 0.173);
  --colors-sageA8: rgba(232, 254, 242, 0.255);
  --colors-sageA9: rgba(227, 255, 241, 0.397);
  --colors-sageA10: rgba(232, 255, 243, 0.457);
  --colors-sageA11: rgba(242, 255, 249, 0.6);
  --colors-sageA12: rgba(253, 255, 254, 0.927);
  --colors-sand1: #161615;
  --colors-sand2: #1c1c1a;
  --colors-sand3: #232320;
  --colors-sand4: #282826;
  --colors-sand5: #2e2e2b;
  --colors-sand6: #353431;
  --colors-sand7: #3e3e3a;
  --colors-sand8: #51504b;
  --colors-sand9: #717069;
  --colors-sand10: #7f7e77;
  --colors-sand11: #a1a09a;
  --colors-sand12: #ededec;
  --colors-sandA1: transparent;
  --colors-sandA2: hsla(60, 90%, 91%, 0.026);
  --colors-sandA3: hsla(60, 96%, 93%, 0.056);
  --colors-sandA4: hsla(60, 76%, 96%, 0.078);
  --colors-sandA5: hsla(60, 82%, 95%, 0.104);
  --colors-sandA6: hsla(41, 88%, 95%, 0.134);
  --colors-sandA7: hsla(60, 95%, 96%, 0.172);
  --colors-sandA8: hsla(49, 94%, 96%, 0.254);
  --colors-sandA9: hsla(52, 97%, 96%, 0.391);
  --colors-sandA10: hsla(52, 98%, 97%, 0.451);
  --colors-sandA11: hsla(51, 97%, 98%, 0.597);
  --colors-sandA12: rgba(255, 255, 254, 0.923);
  --colors-sky1: #0c1820;
  --colors-sky2: #071d2a;
  --colors-sky3: #082636;
  --colors-sky4: #082d41;
  --colors-sky5: #08354c;
  --colors-sky6: #083e59;
  --colors-sky7: #064b6b;
  --colors-sky8: #005d85;
  --colors-sky9: #68ddfd;
  --colors-sky10: #8ae8ff;
  --colors-sky11: #2ec8ee;
  --colors-sky12: #eaf8ff;
  --colors-skyA1: transparent;
  --colors-skyA2: rgba(0, 135, 254, 0.045);
  --colors-skyA3: rgba(0, 165, 254, 0.099);
  --colors-skyA4: rgba(0, 166, 255, 0.148);
  --colors-skyA5: rgba(0, 169, 254, 0.198);
  --colors-skyA6: rgba(0, 174, 254, 0.256);
  --colors-skyA7: rgba(0, 174, 254, 0.337);
  --colors-skyA8: rgba(0, 174, 255, 0.453);
  --colors-skyA9: rgba(106, 225, 255, 0.98);
  --colors-skyA10: rgba(141, 236, 255, 0.98);
  --colors-skyA11: rgba(49, 214, 255, 0.924);
  --colors-skyA12: rgba(239, 253, 255, 0.98);
  --colors-slate1: #151718;
  --colors-slate2: #1a1d1e;
  --colors-slate3: #202425;
  --colors-slate4: #26292b;
  --colors-slate5: #2b2f31;
  --colors-slate6: #313538;
  --colors-slate7: #3a3f42;
  --colors-slate8: #4c5155;
  --colors-slate9: #697177;
  --colors-slate10: #787f85;
  --colors-slate11: #9ba1a6;
  --colors-slate12: #ecedee;
  --colors-slateA1: transparent;
  --colors-slateA2: rgba(213, 254, 255, 0.026);
  --colors-slateA3: rgba(214, 251, 252, 0.057);
  --colors-slateA4: rgba(226, 240, 253, 0.083);
  --colors-slateA5: rgba(223, 243, 253, 0.109);
  --colors-slateA6: rgba(223, 239, 254, 0.139);
  --colors-slateA7: rgba(224, 243, 255, 0.182);
  --colors-slateA8: rgba(229, 242, 254, 0.265);
  --colors-slateA9: rgba(225, 241, 255, 0.412);
  --colors-slateA10: rgba(231, 243, 255, 0.472);
  --colors-slateA11: rgba(239, 247, 255, 0.615);
  --colors-slateA12: rgba(253, 254, 255, 0.927);
  --colors-teal1: #091915;
  --colors-teal2: #04201b;
  --colors-teal3: #062923;
  --colors-teal4: #07312b;
  --colors-teal5: #083932;
  --colors-teal6: #09443c;
  --colors-teal7: #0b544a;
  --colors-teal8: #0c6d62;
  --colors-teal9: #12a594;
  --colors-teal10: #10b3a3;
  --colors-teal11: #0ac5b3;
  --colors-teal12: #e1faf4;
  --colors-tealA1: transparent;
  --colors-tealA2: rgba(0, 251, 213, 0.031);
  --colors-tealA3: rgba(0, 253, 220, 0.07);
  --colors-tealA4: rgba(0, 253, 232, 0.105);
  --colors-tealA5: rgba(2, 254, 228, 0.14);
  --colors-tealA6: rgba(9, 255, 230, 0.187);
  --colors-tealA7: rgba(17, 255, 227, 0.257);
  --colors-tealA8: rgba(17, 255, 231, 0.366);
  --colors-tealA9: rgba(24, 255, 228, 0.609);
  --colors-tealA10: rgba(19, 255, 231, 0.67);
  --colors-tealA11: rgba(10, 255, 231, 0.748);
  --colors-tealA12: rgba(230, 255, 249, 0.979);
  --colors-tomato1: #1d1412;
  --colors-tomato2: #2a1410;
  --colors-tomato3: #3b1813;
  --colors-tomato4: #481a14;
  --colors-tomato5: #541c15;
  --colors-tomato6: #652016;
  --colors-tomato7: #7f2315;
  --colors-tomato8: #a42a12;
  --colors-tomato9: #e54d2e;
  --colors-tomato10: #ec5e41;
  --colors-tomato11: #f16a50;
  --colors-tomato12: #feefec;
  --colors-tomatoA1: transparent;
  --colors-tomatoA2: rgba(253, 21, 0, 0.058);
  --colors-tomatoA3: rgba(255, 48, 25, 0.133);
  --colors-tomatoA4: rgba(254, 51, 28, 0.191);
  --colors-tomatoA5: rgba(254, 53, 30, 0.244);
  --colors-tomatoA6: rgba(255, 57, 30, 0.319);
  --colors-tomatoA7: rgba(255, 55, 25, 0.434);
  --colors-tomatoA8: rgba(255, 58, 18, 0.598);
  --colors-tomatoA9: rgba(255, 84, 49, 0.885);
  --colors-tomatoA10: rgba(255, 100, 69, 0.916);
  --colors-tomatoA11: rgba(255, 112, 84, 0.939);
  --colors-tomatoA12: rgba(255, 243, 240, 0.98);
  --colors-violet1: #17151f;
  --colors-violet2: #1c172b;
  --colors-violet3: #251e40;
  --colors-violet4: #2c2250;
  --colors-violet5: #32275f;
  --colors-violet6: #392c72;
  --colors-violet7: #443592;
  --colors-violet8: #5842c3;
  --colors-violet9: #6e56cf;
  --colors-violet10: #7c66dc;
  --colors-violet11: #9e8cfc;
  --colors-violet12: #f1eefe;
  --colors-violetA1: transparent;
  --colors-violetA2: rgba(116, 58, 253, 0.054);
  --colors-violetA3: rgba(116, 82, 254, 0.148);
  --colors-violetA4: rgba(118, 80, 255, 0.219);
  --colors-violetA5: rgba(118, 84, 255, 0.286);
  --colors-violetA6: rgba(114, 83, 255, 0.371);
  --colors-violetA7: rgba(112, 83, 255, 0.514);
  --colors-violetA8: rgba(111, 82, 255, 0.733);
  --colors-violetA9: rgba(134, 104, 255, 0.786);
  --colors-violetA10: rgba(142, 117, 255, 0.844);
  --colors-violetA11: rgba(161, 142, 255, 0.98);
  --colors-violetA12: rgba(245, 242, 255, 0.98);
  --colors-yellow1: #1c1500;
  --colors-yellow2: #221a00;
  --colors-yellow3: #2c2100;
  --colors-yellow4: #352800;
  --colors-yellow5: #3e3000;
  --colors-yellow6: #493c00;
  --colors-yellow7: #594a05;
  --colors-yellow8: #705e00;
  --colors-yellow9: #f5d90a;
  --colors-yellow10: #ffef5c;
  --colors-yellow11: #f0c000;
  --colors-yellow12: #fffad1;
  --colors-yellowA1: transparent;
  --colors-yellowA2: rgba(250, 205, 0, 0.027);
  --colors-yellowA3: rgba(253, 190, 0, 0.071);
  --colors-yellowA4: rgba(253, 194, 0, 0.111);
  --colors-yellowA5: rgba(254, 199, 0, 0.15);
  --colors-yellowA6: rgba(254, 216, 0, 0.199);
  --colors-yellowA7: rgba(255, 219, 19, 0.269);
  --colors-yellowA8: rgba(254, 216, 0, 0.371);
  --colors-yellowA9: rgba(255, 226, 10, 0.956);
  --colors-yellowA10: rgba(255, 244, 94, 0.98);
  --colors-yellowA11: rgba(255, 204, 0, 0.934);
  --colors-yellowA12: rgba(255, 255, 213, 0.98);
  --colors-brand1: #041b10;
  --colors-brand2: #051f13;
  --colors-brand3: #072719;
  --colors-brand4: #092f1f;
  --colors-brand5: #0b3724;
  --colors-brand6: #10472f;
  --colors-brand7: #155b3d;
  --colors-brand8: #1d724c;
  --colors-brand9: #3fcf8e;
  --colors-brand10: #85e0b7;
  --colors-brand11: #33cc87;
  --colors-brand12: #ebfaf3;
  --colors-scale1: var(--colors-gray1);
  --colors-scale2: var(--colors-gray2);
  --colors-scale3: var(--colors-gray3);
  --colors-scale4: var(--colors-gray4);
  --colors-scale5: var(--colors-gray5);
  --colors-scale6: var(--colors-gray6);
  --colors-scale7: var(--colors-gray7);
  --colors-scale8: var(--colors-gray8);
  --colors-scale9: var(--colors-gray9);
  --colors-scale10: var(--colors-gray10);
  --colors-scale11: #bbb;
  --colors-scale12: var(--colors-gray12);
  --colors-scaleA1: var(--colors-grayA1);
  --colors-scaleA2: var(--colors-grayA2);
  --colors-scaleA3: var(--colors-grayA3);
  --colors-scaleA4: var(--colors-grayA4);
  --colors-scaleA5: var(--colors-grayA5);
  --colors-scaleA6: var(--colors-grayA6);
  --colors-scaleA7: var(--colors-grayA7);
  --colors-scaleA8: var(--colors-grayA8);
  --colors-scaleA9: var(--colors-grayA9);
  --colors-scaleA10: var(--colors-grayA10);
  --colors-scaleA11: var(--colors-grayA11);
  --colors-scaleA12: var(--colors-grayA12);
}
