.toc a {
  text-decoration: none !important;
  font-weight: 400 !important;
}

.toc > ul > li {
  padding-left: 0 !important;
}

.toc li {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  padding-left: 1rem !important;
}

.toc ul > li:before {
  content: '';
  position: absolute;
  background-color: none;
  border-radius: 50%;
  width: 0 !important;
  height: 0 !important;
  top: 0.6875em;
  left: 0.25em;
}

.header:hover svg,
.header svg:hover {
  display: inline-block;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5 {
  font-weight: 500 !important;
}

.article {
  margin-bottom: 4rem; /* 64px */
}

.article > div > pre {
  padding: 0;
  background: none;
}
